body {
	font-family: 'Lato', sans-serif;
	padding-top: 60px;
}
.form-control{
	border-radius: 2px;
}
.btn {
	border-radius: 2px;
}
.ice-view-all {
	margin: 473px 5px 10px;
}
.ice-view-all a{
	color: #333;
}
.ice-view-all a:hover {
	color: #222;
	text-decoration: none;
}
.ice-nav {
	border-radius: 0;
	background: whitesmoke;
	border-bottom: 1px solid gray;
}
.ice-nav a:hover {
	color: darkcyan;
}
.ice-nav-ul > li > a {
	text-shadow: initial;
	color: darkcyan;
}
.ice-nav-ul > li > a:hover{
	background-color: lightgray;
	text-shadow: initial;
}
.navbar-brand {
	text-shadow: initial;
	color: darkcyan;
}
a {
	color: #000;
}
.ice-header {
	margin-top: 20px;
}
.ice-carousel-caption {
	text-align: right;
	right: initial;
	left: initial;
	bottom: 0px;
	width: 100%;
	padding: 5px 35px 20px 0;
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.75);
}
.ice-carousel-caption > h3 {
	margin-bottom: 3px;
	color: darkcyan;
}
.ice-carousel-caption > p {
	color: #d9edf7;
}
.ice-carousel-indicators {
	bottom: 0;
}
.footer {
	margin-top: 30px;
	padding: 20px 0;
	background-color: lightgray;
	color: #555;
	text-align: center;
	bottom: 0;
}
.ice-genre {
	border: 1px solid gray;
	text-align: center;
}
.ice-genre:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.ice-genre > a {
	display: block;
	padding: 100px 15px;
}
.ice-genre > a:hover {
	text-decoration: none;
}
.media-heading {
	margin-bottom: 0;
	font-weight: bold;
}
.media-body > p {
	margin: 0px;
}
.label > a {
	color: white;
}
.label > a:hover {
	color: white;
	text-decoration: none;
}